langchain
langchain-openai
langchain-core
langchain-community
langchain-google-genai
python-dotenv
pydantic
langchain_huggingface
sentence-transformers
faiss-cpu
pypdf
langchain_chroma
wikipedia
youtube_transcript_api
langchain.tools